<!-- Menu header -->
<app-header-menu [isMain]="true"></app-header-menu>

<!-- Body page principal -->
<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s" style="z-index: 2;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-7 align-self-center">
            <div class="left-content show-up header-text wow fadeInLeft fadeRight" style="z-index: 2;">
              <div class="row">
                <div class="col-lg-12">
                  <h6>{{ "HOME_SUBTITLE" | translate }}</h6>
                  <h2>{{ "HOME_TITLE" | translate }}</h2>
                  <p>{{ "HOME_P" | translate }}</p>
                </div>
                <div class="col-lg-12">
                  <div class="border-first-button scroll-to-section">
                    <a target=”_blank” href="https://www.cis-elsalvador.org/youth-scholarships-and-development">
                      {{ "SEE_MORE" | translate }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="right-image wow fadeInRight fadeLeft">
              <img src="assets/images/cis-logo.png" alt="Logo CIS - El Salvador">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ---------------Social Projects section ------------------ -->
<div id="projects" class=" fadeLeft col-12">
  <div class="container" style="z-index: 5;">
    <div class="left-content show-up header-text wow fadeInLeft fadeRight" style="z-index: 2;">
      <div class="col-lg-12 align-self-center" style="color: black;">
        <div class="row col-12 wrapper">
          <h2 class="item1">{{ "socialProyects" | translate }}</h2>
          <div class="border-first-button scroll-to-section item2">
            <a [routerLink]="['/projects']">{{ "SEE_ALL"|translate }}</a>
          </div>
        </div>
        <p>{{ "HOME_PROYECT" | translate }}</p>
      </div>
    </div>
    <br>
    <div class="row col-sm-12">

      <ng-container *ngIf="isLoadingProjects; else elseProject">
        <div class="center">
          <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </ng-container>

      <ng-template #elseProject>
        <div class="col-lg-7 col-sm-12" style="z-index: 2;">
          <div class="contenedorIMG">
            <ng-container *ngIf="projects[0]; else elseNoDataImage">
              <img src="{{ projects[0]?.actividades[0]?.fotografias[0]?.downloadUrl }}" height="350px">
              <div class="centerTextInImg">{{ projects[0]?.nombre }}...</div>
            </ng-container>
          </div>
        </div>
        <div class="col-lg-5 col-sm-12" style="z-index: 2;">
          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <div class="contenedorIMG">
                <ng-container *ngIf="projects[1]; else elseNoDataImage">
                  <img src="{{ projects[1]?.actividades[0]?.fotografias[0]?.downloadUrl }}"
                    height="140px">
                  <div class="centerTextInImg small">{{ projects[1]?.nombre }}...</div>
                </ng-container>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="contenedorIMG">
                <ng-container *ngIf="projects[2]; else elseNoDataImage">
                  <img src="{{ projects[2]?.actividades[0]?.fotografias[0]?.downloadUrl }}"
                    height="140px">
                  <div class="centerTextInImg small">{{ projects[2]?.nombre }}...</div>
                </ng-container>
              </div>
            </div>
          </div>
          <br>
          <div class="col-lg-12">
            <div class="contenedorIMG">
              <ng-container *ngIf="projects[3]; else elseNoDataImage">
                <img src="{{ projects[3]?.actividades[0]?.fotografias[0]?.downloadUrl }}"
                  height="185px">
                <div class="centerTextInImg">{{ projects[3]?.nombre }}...</div>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-template>

    </div>
  </div>
</div>

<ng-template #elseNoData>
  <div class="center">
    <!-- <h4 style="color: black;">No data</h4> -->
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template>

<ng-template #elseNoDataImage>
  <img src="../../../../../assets/images/noDataFound.jpeg">
</ng-template>

<!-- Testimonies -->
<div class="blog" style="z-index: -1;"></div>
<div class="wrapper" id="testimonies">
  <h2 style="margin-left: 7vw;" class="item1">{{ "TESTIMONIES" | translate }}</h2>
  <div class="border-first-button scroll-to-section item2" style="margin-left: 7vw;">
    <a [routerLink]="['/testimonies']">{{ "SEE_ALL"|translate }}</a>
  </div>
</div>
<div *ngIf="!isLoadingTestimonies; else elseNoData">
  <div class="flex-container">
    <div *ngFor="let testim of testimonies">
      <div class="containerCard">
        <div class="card2">
          <div class="card-header2">
            <img
              [src]="(testim?.imagen) == null ? '../../../../../assets/images/sin-foto.png' :
            (testim?.imagen ? 'https://dev.elsalvador-cis.com/storage/' + testim?.imagen : '../../../../../assets/images/sin-foto.png')"
              alt="Imagen Becado" />
          </div>
          <div class="card-body2">
            <span class="tag tag-teal">{{ testim?.comunidad }}</span>
            <br><br>
            <h4>
              {{ testim?.nombre }}
            </h4>
            <br>
            <p>{{testim?.descripcion | striphtml | slice:0:120}}...</p>
            <div *ngIf="testim?.becado === 1">
              <span class="tag tag-purple">{{ "BECADO" | translate }}</span>
          </div>
          <div *ngIf="testim?.colaborador === 1">
            <span class="tag tag-purple">{{ "COLABORADOR" | translate }}</span>
          </div>
          <div *ngIf="testim?.voluntario === 1">
            <span class="tag tag-purple">{{ "VOLUNTARIO" | translate }}</span>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- -------------------Profiles section ------------------------- -->
<!-- <div class="blog" style="z-index: -1;"></div> -->
<div id="profiles" class="blog fadeLeft">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="section-heading flatMarginTop">
          <h6>{{ "OUR_PROFILES"| translate }}</h6>
          <h4>{{ "RECENT_PROFILES"| translate }}
            <em>{{ "RECENT_PROFILES2"|translate }}</em>
            <div class="border-first-button scroll-to-section">
              <a [routerLink]="['/profiles']">{{ "SEE_ALL"|translate }}</a>
            </div>
          </h4>
          <div class="line-dec"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <ng-container *ngIf="isLoadingBecados; else elseTemplate">
          <div class="center">
            <div class="lds-roller">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </ng-container>

        <ng-template #elseTemplate>
          <div class="slider">
            <div class="slide-track">
              <div class="div" *ngFor="let item of becados">
                <div class="slide">
                  <div class="">
                    <h4>{{ item?.nombre_completo }}</h4>
                    <img
                      [src]="item?.foto == null ? '../../../../../assets/images/sin-foto.png' : 
                    (item?.foto ? 'https://elsalvador-cis.com/storage/' + item?.foto : '../../../../../assets/images/sin-foto.png')"
                      alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
</div>

<!-- ------------Contact container-------------- -->
<div id="contact" class="contact-us section">
  <!-- <div class="container"> -->
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="section-heading wow fadeIn">
        <!-- <h6>{{ "CONTACT_US"|translate }}</h6>
          <h4>{{ "TITLE_CONTACT"|translate }} <em>{{ "Now"|translate }}</em>
          </h4>
          <div class="line-dec"></div> -->
      </div>
    </div>
    <!-- <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
        <form id="contact" action="" method="post">
          <div class="row">
            <div class="col-lg-12">
              <div class="contact-dec">
                <img src="assets/images/contact-dec-v3.png" alt="">
              </div>
            </div>
            <div class="col-lg-5">
              <div id="map">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d968.9816891708826!2d-89.21128437081843!3d13.72288409939789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f63307e7b6d6f75%3A0xfc6d5185606560b6!2sAv.%20Bolivar%2C%20San%20Salvador!5e0!3m2!1ses!2ssv!4v1646437667164!5m2!1ses!2ssv"
                  width="100%" height="636px" frameborder="0" style="border:0" allowfullscreen loading="lazy"></iframe>

              </div>
            </div>
            <div class="col-lg-7">
              <div class="fill-form">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="info-post">
                      <div class="icon">
                        <img src="assets/images/phone-icon.png" alt="">
                        <a>(503) 2226-5362</a>
                        <a>(503) 2235-1330</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="info-post">
                      <div class="icon">
                        <img src="assets/images/email-icon.png" alt="">
                        <a>info@cis-elsalvador.org</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="info-post">
                      <div class="icon">
                        <img src="assets/images/location-icon.png" alt="">
                        <a>Colonia Libertad Avenida Bolívar #103 San Salvador El Salvador</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <hr><br>
                    <a target="_blank"
                      href="http://ciselsal.blogspot.com">{{ "VISIT_BLOG"|translate }}:
                      www.ciselsal.blogspot.com</a>
                    <br><br>
                    <hr>
                    <p>
                      {{ "US_ADDRESS"|translate }}:
                      Los Olivos CIS
                      PO Box 76
                      Westmont, IL
                      60559-0076
                      USA
                      Toll-Free in US:
                      1-866-887-2665</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div> -->
  </div>
  <!-- </div> -->
</div>
