* {
  /* padding: 0.3rem; */
  font-family: 'Poppins', sans-serif !important;
  z-index: 2;
}

.sizePerfilImg {
  max-width: 50vh;
  margin-left: 25px;
  /* border: 1px solid black; */
}

.sizeLogoImg {
  max-width: 30vh;
  margin-left: 20px;
}

.float-right {
  float: right;
  margin-right: 25px;
  margin-top: 25px;
}

.lessTopMargin {
  margin-top: -120px;
}

.justifyText {
  text-align: justify;
  text-justify: inter-word;
}

.lessLineHeight {
  line-height: 2em;
}

.shadowInformationPersonal {
  -webkit-box-shadow: 0px 11px 38px -5px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 11px 38px -5px rgba(0, 0, 0, 0.23);
  padding: 30px;
  position: relative;
}

.glass {
  padding: 30px;
  margin-left: 80px;
  margin-right: 80px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
}

hr {
  background-color: rgb(139, 172, 223) !important;
  height: 10px;
  margin-left: 0%;
  width: 75%;
  height: 1px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.pdding {
  padding: 0px 10px 0px 10px;
}

.pdding1 {
  padding: 0px 15px 0px 15px;
}

.inherit {
  padding: 20px;
  line-height: normal;
}

.mat-tab-group {
  margin-bottom: 48px;
}

.invisible-tabs {
  >.mat-tab-header {
    display: none;
  }
}
