<app-header-menu [isMain]="false" [isDetail]="true"></app-header-menu>

<div class="main-banner">
  <ng-container *ngIf="isWaiting; else elseTemplate">
    <div class="center">
      <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <div class=" lessTopMargin shadowInformationPersonal container row">
      <div class="col-lg-5">
        <img class="sizePerfilImg img-fluid rounded mx-auto d-block" [src]="(settings?.foto) ?
                     ((becado?.foto) == null ? 
                     '../../../../../assets/images/sin-foto.png' : 'https://elsalvador-cis.com/storage/' + becado?.foto) : 
                     '../../../../../assets/images/sin-foto.png'" alt="IMG-Becado">
      </div>
      <div class="col-lg-7">
        <!-- <h4>Información personal.</h4> -->
        <h4 [hidden]="settings?.nombre_completo ? '' : 'hidden'">{{ "FULL_NAME"|translate }}:
          <b>{{ becado?.nombre_completo }}</b>
        </h4>
        <hr class="shadowHr">
        <div *ngIf="settings?.comunidad_id">
          <h5 class="lessLineHeight"><b>{{ "COMMUNITY"|translate }}:
            </b>{{ becado?.nombre_comunidad }}</h5>
          <h5 class="lessLineHeight"><b>{{ "Department"|translate }}:</b> {{ becado?.departamento }}
            ,
            <b>{{ "Municipalities"|translate }}:</b>{{ becado?.municipio }}
          </h5>
        </div>
        <br>
        <h5 [hidden]="settings?.fecha_nacimiento ? '' : 'hidden'" class="lessLineHeight">
          <b>{{ "BIRTHDAY_DATE"|translate }}:</b>
          {{ becado?.fecha_nacimiento | date: 'longDate' }}
        </h5>
        <h5 [hidden]="settings?.correo ? '' : 'hidden'" class="lessLineHeight">
          <b>{{ "Email"|translate }}:</b>
          {{ becado?.correo }}</h5>
        <h5 [hidden]="settings?.telefono ? '' : 'hidden'" class="lessLineHeight">
          <b>{{ "phonenumber"|translate }}:</b>
          {{ becado?.telefono }}
        </h5>
        <h5 [hidden]="settings?.inicio_programa ? '' : 'hidden'">
          <b>{{ "PROGRAM_START"|translate }}:</b>
          {{ becado?.inicio_programa }}</h5> <br>
        <br>
        <h5 [hidden]="settings?.num_materias ? '' : 'hidden'" class="lessLineHeight">
          <b>{{ "NUMBER_SUBJECTS"|translate }}</b>
          {{ becado?.num_materias }}
        </h5>
        <h5 [hidden]="settings?.materias_aprobadas ? '' : 'hidden'" class="lessLineHeight">
          <b>{{ "APROVED_SUBJECTS"|translate }}:</b> {{ becado?.materias_aprobadas }}
        </h5>
      </div>
    </div>

    <div class="shadowInformationPersonal row col-auto justify-content-center m-0 container"
      style="position: relative;">
      <hr>
      <h4>Formación académica.</h4><br><br>
      <div class="row glass">
        <div class="col-lg-6 container m-0 justify-content-center text-center">
          <h5 [hidden]="settings?.institucion ? '' : 'hidden'" class="lessLineHeight">
            <b>{{ "Institution"|translate }}:
            </b>{{ isLangEnglish == 'en' ? scholarchip?.institucion : becado?.institucion }}
          </h5>
          <!-- <h5 [hidden]="settings?.formacion_actual ? '' : 'hidden'" class="lessLineHeight"><b>Current lineup :
                      </b>{{ becado?.formacion_actual }} </h5> -->
          <h5 [hidden]="settings?.opcion ? '' : 'hidden'" class="lessLineHeight">
            <b>{{ "Career"|translate }}:
            </b>{{ isLangEnglish == 'en' ? scholarchip?.opcion : becado?.opcion }}
          </h5>
          <h5 [hidden]="settings?.estudiando_actualmente ? '' : 'hidden'" class="lessLineHeight">
            <b>¿{{ "STUDYING"|translate }}? </b>{{isLangEnglish == 'en' ? scholarchip?.estudiando_actualmente :
                      becado?.estudiando_actualmente}}
          </h5>
          <h5 [hidden]="settings?.fecha_graduacion ? '' : 'hidden'" class="lessLineHeight ">
            <b>{{ "GRADUATION"|translate }}:<br> </b>{{isLangEnglish == 'en' ? (scholarchip?.fecha_graduacion) :
                      (becado?.fecha_graduacion | date: 'longDate')}}
          </h5>
          <h5 [hidden]="settings?.promedio_notas ? '' : 'hidden'" class="lessLineHeight ">
            <b>{{ "CALIFICATION"|translate }}:<br></b>{{ becado?.promedio_notas }}
          </h5>
        </div>
        <div class="col-lg-6">
          <h4>Familia.</h4>
          <h5 [hidden]="settings?.tipo_servicio ? '' : 'hidden'" class="lessLineHeight">
            <b>{{ "TOILET"|translate }}:
            </b>{{ becado?.tipo_servicio }} </h5>
          <h5 [hidden]="settings?.agua_potable ? '' : 'hidden'" class="lessLineHeight">
            <b>{{ "WATER"|translate }}:
            </b>{{ becado?.agua_potable }} </h5>
          <h5 [hidden]="settings?.energia ? '' : 'hidden'" class="lessLineHeight">
            <b>{{ "ENERGY"|translate }}:
            </b>{{ becado?.energia }} </h5>

          <h4>Horarios.</h4>
          <h5 [hidden]="settings?.horario ? '' : 'hidden'" class="lessLineHeight ">
            <b>{{ "Schedule"|translate }}:
            </b>
            <h5 class="inherit"
              [innerHTML]="isLangEnglish == 'en' ? (scholarchip?.horario ? (scholarchip?.horario | striphtml) : '') : (becado?.horario ? (becado?.horario | striphtml) : '')">
            </h5>
          </h5>
          <h5 [hidden]="settings?.horario_salida_casa ? '' : 'hidden'" class="lessLineHeight ">
            <b>{{ "TIME_LEAVE_HOME"|translate }}: </b>
            <h5 class="inherit"
              [innerHTML]="isLangEnglish == 'en' ? (scholarchip?.horario_salida_casa ? (scholarchip?.horario_salida_casa | striphtml) : '') : (becado?.horario_salida_casa ? (becado?.horario_salida_casa | striphtml) : '')">
            </h5>
          </h5>
          <h5 [hidden]="settings?.horario_regreso_casa ? '' : 'hidden'" class="lessLineHeight ">
            <b>{{ "TIME_GO_HOME"|translate }}: </b>
            <h5 class="inherit"
              [innerHTML]="isLangEnglish == 'en' ? (scholarchip?.horario_regreso_casa ? (scholarchip?.horario_regreso_casa | striphtml) : '') : (becado?.horario_salida_casa ? (becado?.horario_salida_casa | striphtml) : '')">
            </h5>
          </h5>
        </div>
      </div>
      <hr class="shadowHr">

    </div>

    <div class="contenedor col-12">
      <img class="sizeLogoImg hijo" src="../../../../../assets/images/cis-logo.png" alt="CIS-LOGO">
    </div>

    <!-- Preguntas -->
    <div class="blog">
      <div class="col-12 pdding1 glass " [hidden]="!settings?.impacto_vida &&
        !settings?.impacto_comunidad &&
        !settings?.obstaculos_educacion &&
        !settings?.propositos_finalizar ? 'hidden' : ''">

        <hr class="shadowHr">
        <h4>Impacto personal.</h4>
        <div *ngFor="let pregunta of preguntas">
          <h5 [hidden]="settings?.impacto_vida ? '' : 'hidden'" class="justifyText lessLineHeight"><b>
              ¿{{ "DESCRIPCION1"|translate }}?</b>
            <br>
            <h5 class="inherit"
              [innerHTML]="isLangEnglish == 'en' ? (pregunta.traduccion ? (pregunta.traduccion | striphtml) : '') : (pregunta.pregunta | striphtml)">
            </h5>
          </h5>
          <hr class="shadowHr">
        </div>

        <!-- <h5 [hidden]="settings?.impacto_vida ? '' : 'hidden'" class="justifyText lessLineHeight"><b>
          ¿{{ "DESCRIPCION1"|translate }}?</b>
        <br>
        <h5 class="inherit"
          [innerHTML]="isLangEnglish == 'en' ? (scholarchip?.impacto_vida ? (scholarchip?.impacto_vida | striphtml) : '') : (becado?.impacto_vida | striphtml)">
        </h5>
      </h5>
      <hr class="shadowHr">

      <h5 [hidden]="settings?.impacto_comunidad ? '' : 'hidden'" class="justifyText lessLineHeight"><b>
          ¿{{ "DESCRIPCION2"|translate }}?
        </b>
        <br>
        <h5 class="inherit"
          [innerHTML]="isLangEnglish == 'en' ? (scholarchip?.impacto_comunidad ? (scholarchip?.impacto_comunidad | striphtml) : '') : (becado?.impacto_comunidad | striphtml)">
        </h5>
      </h5>
      <hr class="shadowHr">

      <h5 [hidden]="settings?.obstaculos_educacion ? '' : 'hidden'" class="justifyText lessLineHeight">
        <b> ¿{{ "DESCRIPCION3"|translate }}? </b>
        <br>
        <h5 class="inherit"
          [innerHTML]="isLangEnglish == 'en' ? (scholarchip?.obstaculos_educacion ? (scholarchip?.obstaculos_educacion | striphtml): '') : (becado?.obstaculos_educacion | striphtml)">
        </h5>
      </h5>
      <hr class="shadowHr">

      <h5 [hidden]="settings?.propositos_finalizar ? '' : 'hidden'" class="justifyText lessLineHeight"><b>
          ¿{{ "DESCRIPCION4"|translate }}?
        </b>
        <br>
        <h5 class="inherit" [innerHTML]="isLangEnglish == 'en' ? (scholarchip?.propositos_finalizar ? (scholarchip?.propositos_finalizar | striphtml) : '') 
                     : (becado?.propositos_finalizar | striphtml)">
        </h5>
      </h5> -->
      </div>
    </div>
    <!-- <hr class="shadowHr"> -->

    <!-- Tablas -->

    <div class="shadowInformationPersonal col-12" [hidden]="!settings?.medios_transporte && 
            !settings?.gastos_mensuales && 
            !settings?.material_casa && 
            !settings?.familia ? 'hidden' : ''">

      <mat-tab-group mat-align-tabs="center">
        <mat-tab label='{{ "Transport"|translate }}' *ngIf="hideTransport">

          <!-- Table medios de transporte -->
          <h5 class="lessLineHeight"><b>{{ "Transport"|translate }}:
            </b></h5>
          <table mat-table [dataSource]="transporte" class="mat-elevation-z8 col-12 ">

            <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

            <!-- transporte Column -->
            <ng-container matColumnDef="transporte">
              <th mat-header-cell *matHeaderCellDef> {{ "Transport"|translate }} </th>
              <td mat-cell *matCellDef="let element"> {{ element?.transporte }} </td>
            </ng-container>

            <!-- distancia Column -->
            <ng-container matColumnDef="distancia">
              <th mat-header-cell *matHeaderCellDef> {{ "Distance"|translate }} </th>
              <td mat-cell *matCellDef="let element"> {{ element?.distancia }} </td>
            </ng-container>

            <!-- costo_mensual Column -->
            <ng-container matColumnDef="costo_mensual">
              <th mat-header-cell *matHeaderCellDef> {{ "COST"|translate }} $USD
              </th>
              <td mat-cell *matCellDef="let element"> {{ element?.costo_mensual }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsTransport"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsTransport;"></tr>
          </table>
        </mat-tab>

        <mat-tab *ngIf="hideExpenses" label='{{ "EXPENCES"|translate }}'>
          <!-- Tabla de gastos mensuales -->
          <h5 class="lessLineHeight"><b>{{ "EXPENCES"|translate }}:
            </b></h5>

          <table mat-table [dataSource]="gastos" class="mat-elevation-z8 col-12 ">

            <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

            <!-- concepto Column -->
            <ng-container matColumnDef="concepto">
              <th mat-header-cell *matHeaderCellDef> {{ "Concept"|translate }} </th>
              <td mat-cell *matCellDef="let element"> {{ element?.concepto }} </td>
            </ng-container>

            <!-- costo Column -->
            <ng-container matColumnDef="costo">
              <th mat-header-cell *matHeaderCellDef> {{ "Cost"|translate }} $USD</th>
              <td mat-cell *matCellDef="let element"> {{ element?.costo }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsGastos"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsGastos;"></tr>
          </table>
        </mat-tab>

        <mat-tab *ngIf="hideMaterialHouse" label='{{ "MATERIAL_HOUSE"|translate }}'>
          <h5 class="lessLineHeight"><b>{{ "MATERIAL_HOUSE"|translate }}:
            </b> </h5>
          <table mat-table [dataSource]="materiales" class="mat-elevation-z8 col-12 ">

            <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

            <!-- material Column -->
            <ng-container matColumnDef="material">
              <th mat-header-cell *matHeaderCellDef> {{ "Materials"|translate }} </th>
              <td mat-cell *matCellDef="let element"> {{ element?.material }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsMaterial"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsMaterial;"></tr>
          </table>
        </mat-tab>

        <mat-tab *ngIf="hideFamily" label='{{ "Family"|translate }}'>
          <h5 class="lessLineHeight"><b>{{ "Family"|translate }}:
            </b>
          </h5>
          <table mat-table [dataSource]="family" class="mat-elevation-z8 col-12 ">

            <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

            <!-- nombre Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> {{ "FAMILY_NAME"|translate }} </th>
              <td mat-cell *matCellDef="let element"> {{ element?.nombre_familiar }} </td>
            </ng-container>

            <!-- parentesco Column -->
            <ng-container matColumnDef="parentesco">
              <th mat-header-cell *matHeaderCellDef> {{ "Relationship"|translate }} </th>
              <td mat-cell *matCellDef="let element"> {{ element?.parentesco }} </td>
            </ng-container>

            <!-- educacion_completada Column -->
            <ng-container matColumnDef="educacion_completada">
              <th mat-header-cell *matHeaderCellDef> {{ "EDUCATION"|translate }}
              </th>
              <td mat-cell *matCellDef="let element"> {{ element?.educacion_completada }} </td>
            </ng-container>

            <!-- ocupacion Column -->
            <ng-container matColumnDef="ocupacion">
              <th mat-header-cell *matHeaderCellDef> {{ "Occupation"|translate }} </th>
              <td mat-cell *matCellDef="let element"> {{ element?.ocupacion }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsFamily"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsFamily;"></tr>
          </table>
        </mat-tab>
      </mat-tab-group>
      <br>
    </div>

    <button class="float-right" mat-raised-button color="accent" (click)="goBack()">Go Back</button>

  </ng-template>

</div>
