<app-header-menu [isMain]="false" [isDetail]="true"></app-header-menu>

<div class="main-banner" style="z-index: 1;">

  <div class="social">
    <a href="#"><img src="../../../../../assets/images/fb.png" alt="facebook"></a>
    <a href="#"><img src="../../../../../assets/images/yt.png" alt="youtube"></a>
  </div>

  <div class="is-loading container" style="position: relative; z-index: 2;">
    <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus et impedit aut, error delectus fugiat,
      veniam soluta magnam.</h2> <br>
    <img height="550px" class=""
      src="https://images.unsplash.com/photo-1606830733744-0ad778449672?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzl8fGNocmlzdG1hcyUyMHRyZWV8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
      alt="">
    <span style="vertical-align:middle">Pequeña descripcion del contexto de la imagen | Foto cortesia de Josué
      Cornejo.</span>
    <br><br><br>
    <h4>20 Noviembre 2022 <div class="vr"></div> El Salvador, Comunidad de ejmplo</h4>
    <br>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi voluptatem vel, ullam hic dicta eum atque facilis
      veniam cum porro. Temporibus sunt reprehenderit dolor voluptate laboriosam eius tempore recusandae voluptates.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora perspiciatis adipisci ex illo, velit est earum
      facere voluptas explicabo corporis nesciunt ducimus eius aperiam qui possimus quidem totam quia sint?
      <br><br>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi voluptatem vel, ullam hic dicta eum atque facilis
      veniam cum porro. Temporibus sunt reprehenderit dolor voluptate laboriosam eius tempore recusandae voluptates.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora perspiciatis adipisci ex illo, velit est earum
      facere voluptas explicabo corporis nesciunt ducimus eius aperiam qui possimus quidem totam quia sint?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi voluptatem vel, ullam hic dicta eum atque facilis
      veniam cum porro. Temporibus sunt reprehenderit dolor voluptate laboriosam eius tempore recusandae voluptates.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora perspiciatis adipisci ex illo, velit est earum
      facere voluptas explicabo corporis nesciunt ducimus eius aperiam qui possimus quidem totam quia sint?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi voluptatem vel, ullam hic dicta eum atque facilis
      veniam cum porro. Temporibus sunt reprehenderit dolor voluptate laboriosam eius tempore recusandae voluptates.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora perspiciatis adipisci ex illo, velit est earum
      facere voluptas explicabo corporis nesciunt ducimus eius aperiam qui possimus quidem totam quia sint?
      <br><br>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi voluptatem vel, ullam hic dicta eum atque facilis
      veniam cum porro. Temporibus sunt reprehenderit dolor voluptate laboriosam eius tempore recusandae voluptates.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora perspiciatis adipisci ex illo, velit est earum
      facere voluptas explicabo corporis nesciunt ducimus eius aperiam qui possimus quidem totam quia sint?
    </p>
  </div>


  <h4 class="container">
    <hr width="250px">
    Activities</h4>

  <div class="courses-container container">
    <div class="course">
      <div class="course-preview">
        <h6>Fecha</h6>
        <h4>26/11/2022</h4>
      </div>
      <div class="course-info">
        <div class="progress-container">
          <div class="progress"></div>
        </div>
        <h6>Tema: </h6>
        <h2>Tema de la actividad realizada</h2>
        <br>
        <h6>Descripción: </h6>
        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, maxime at assumenda id accusantium
          deserunt? Natus quasi modi officia quia consectetur aut nemo excepturi eius quos beatae, vitae nihil ullam.
        </h5>
        <hr>
        <h6>Obstaculos: </h6>
        <h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo nam, dolore officiis labore alias, architecto
          reprehenderit quibusdam, earum autem delectus ipsa itaque amet repudiandae sed quisquam. Incidunt aliquam a
          labore.</h5>
          <br>
        <!-- <h6>Participantes:</h6>
                <h6>• Kenia Iveth Martínez Mendoza (Coordinador)</h6>
                <h6>• Kenia Iveth Martínez Mendoza (Tesorera)</h6>
                <h6>• Kenia Iveth Martínez Mendoza (Formación)</h6>
                <h6>• Rocío Melany Torres Chávez (Formación)</h6>
                <h6>• Kenia Iveth Martínez Mendoza (Formación)</h6>
                <h6>• Javier Alejandro Cruz Deras (Formación)</h6>
                <h6>• Kenia Iveth Martínez Mendoza (Formación)</h6>
                <h6>• José Gustavo Sánchez Chávez (Formación)</h6> -->
        <button class="btn" (click)="openModal()">Ver participantes</button>
        <button class="btn" (click)="openModal()">Ver fotografías</button>
      </div>
    </div>
  </div>

  <div class="courses-container container">
    <div class="course">
      <div class="course-preview">
        <h6>Fecha</h6>
        <h4>26/11/2022</h4>
      </div>
      <div class="course-info">
        <div class="progress-container">
          <div class="progress"></div>
        </div>
        <h6>Tema: </h6>
        <h2>Tema de la actividad realizada</h2>
        <br>
        <h6>Descripción: </h6>
        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, maxime at assumenda id accusantium
          deserunt? Natus quasi modi officia quia consectetur aut nemo excepturi eius quos beatae, vitae nihil ullam.
        </h5>
        <hr>
        <h6>Obstaculos: </h6>
        <h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo nam, dolore officiis labore alias, architecto
          reprehenderit quibusdam, earum autem delectus ipsa itaque amet repudiandae sed quisquam. Incidunt aliquam a
          labore.</h5>
          <br>
        <!-- <h6>Participantes:</h6>
                <h6>• Kenia Iveth Martínez Mendoza (Coordinador)</h6>
                <h6>• Kenia Iveth Martínez Mendoza (Tesorera)</h6>
                <h6>• Kenia Iveth Martínez Mendoza (Formación)</h6>
                <h6>• Rocío Melany Torres Chávez (Formación)</h6>
                <h6>• Kenia Iveth Martínez Mendoza (Formación)</h6>
                <h6>• Javier Alejandro Cruz Deras (Formación)</h6>
                <h6>• Kenia Iveth Martínez Mendoza (Formación)</h6>
                <h6>• José Gustavo Sánchez Chávez (Formación)</h6> -->
        <button class="btn" (click)="openModal()">Ver participantes</button>
        <button class="btn" (click)="openModal()">Ver fotografías</button>
      </div>
    </div>
  </div>

  <div class="courses-container container">
    <div class="course">
      <div class="course-preview">
        <h6>Fecha</h6>
        <h4>26/11/2022</h4>
      </div>
      <div class="course-info">
        <div class="progress-container">
          <div class="progress"></div>
        </div>
        <h6>Tema: </h6>
        <h2>Tema de la actividad realizada</h2>
        <br>
        <h6>Descripción: </h6>
        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, maxime at assumenda id accusantium
          deserunt? Natus quasi modi officia quia consectetur aut nemo excepturi eius quos beatae, vitae nihil ullam.
        </h5>
        <hr>
        <h6>Obstaculos: </h6>
        <h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo nam, dolore officiis labore alias, architecto
          reprehenderit quibusdam, earum autem delectus ipsa itaque amet repudiandae sed quisquam. Incidunt aliquam a
          labore.</h5>
          <br>
        <!-- <h6>Participantes:</h6>
                <h6>• Kenia Iveth Martínez Mendoza (Coordinador)</h6>
                <h6>• Kenia Iveth Martínez Mendoza (Tesorera)</h6>
                <h6>• Kenia Iveth Martínez Mendoza (Formación)</h6>
                <h6>• Rocío Melany Torres Chávez (Formación)</h6>
                <h6>• Kenia Iveth Martínez Mendoza (Formación)</h6>
                <h6>• Javier Alejandro Cruz Deras (Formación)</h6>
                <h6>• Kenia Iveth Martínez Mendoza (Formación)</h6>
                <h6>• José Gustavo Sánchez Chávez (Formación)</h6> -->
        <button class="btn" (click)="openModal()">Ver participantes</button>
        <button class="btn" (click)="openModal()">Ver fotografías</button>
      </div>
    </div>
  </div>

  <h4 class="container">
    <hr width="250px">
    Audiovisual gallery</h4>
  <section class="gallery">
    <div class="gallery__item">
      <input type="radio" id="img-1" checked name="gallery" class="gallery__selector" />
      <img class="gallery__img" src="https://picsum.photos/id/1015/600/400.jpg" alt="" />
      <label for="img-1" class="gallery__thumb"><img src="https://picsum.photos/id/1015/150/100.jpg" alt="" /></label>
    </div>
    <div class="gallery__item">
      <input type="radio" id="img-2" name="gallery" class="gallery__selector" />
      <img class="gallery__img" src="https://picsum.photos/id/1039/600/400.jpg" alt="" />
      <label for="img-2" class="gallery__thumb"><img src="https://picsum.photos/id/1039/150/100.jpg" alt="" /></label>
    </div>
    <div class="gallery__item">
      <input type="radio" id="img-3" name="gallery" class="gallery__selector" />
      <img class="gallery__img" src="https://picsum.photos/id/1057/600/400.jpg" alt="" />
      <label for="img-3" class="gallery__thumb"><img src="https://picsum.photos/id/1057/150/100.jpg" alt="" /></label>
    </div>
    <div class="gallery__item">
      <input type="radio" id="img-4" name="gallery" class="gallery__selector" />
      <img class="gallery__img" src="https://picsum.photos/id/106/600/400.jpg" alt="" />
      <!-- <iframe class="gallery__img" width="420" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe> -->
      <label for="img-4" class="gallery__thumb"><img src="https://picsum.photos/id/106/150/100.jpg" alt="" /></label>
    </div>
  </section>

  <div class="blog">
    <div class="container" style="position: relative;">
      <hr width="250px">
      <h4>QUIZÁ TAMBIÉN TE INTERESE...</h4>
      <br><br>
      <!-- Habrá un for -->
      <div class="row">
        <div class="col-3">
          <img class="img-fluid img-thumbnail" src="https://picsum.photos/id/106/600/400.jpg" alt="">
        </div>
        <div class="col-9">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error laborum magnam iste
          laboriosam fuga, earum officia asperiores architecto necessitatibus impedit minus ratione tempora, quibusdam
          culpa placeat quia aliquam ex sint?</div>
      </div>
      <br>
      <div class="row">
        <div class="col-3">
          <img class="img-fluid img-thumbnail" src="https://picsum.photos/id/1039/600/400.jpg" alt="">
        </div>
        <div class="col-9">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error laborum magnam iste
          laboriosam fuga, earum officia asperiores architecto necessitatibus impedit minus ratione tempora, quibusdam
          culpa placeat quia aliquam ex sint?</div>
      </div>
    </div>
  </div>
  <!-- <button class="btn btn-primary" (click)="openModal()">Open modal</button> -->

  <!-- <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">...</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Close
    </button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div>

  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel2">Modal title</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">...</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Close
    </button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div> -->

</div>
