<!-- ***** Preloader Start ***** -->
<!-- <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div> -->
<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a class="logo">
            <img (click)="Gohome()" class="changePointer" src="assets/images/Logo_Prop_2.png" alt="CIS - El Salvador"
              height="70px">
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <ng-container *ngIf="isMain; else elseTemplate">
              <li class="scroll-to-section"><a href="#top" class="active">{{"HOME" | translate}}</a></li>
              <li class="scroll-to-section"><a href="#profiles">{{"Profiles" | translate}}</a></li>
              <!-- <li class="scroll-to-section"><a href="#projects">Projects</a></li> -->
              <li class="scroll-to-section"><a href="#contact">{{"Contact" | translate}}</a></li>
            </ng-container>
            <ng-template #elseTemplate>
              <ng-container *ngIf="isDetail; else noDetail">
                <li class="scroll-to-section"><a (click)="Gohome()" type="button" class="active">{{"HOME" | translate}}</a></li>
                <li class="scroll-to-section"><a (click)="GoProfile()" type="button" class="active">{{"Profiles" | translate}}</a></li>
              </ng-container>
              <ng-template #noDetail>
                <li class="scroll-to-section"><a (click)="Gohome()" type="button" class="active">{{"HOME" | translate}}</a></li>

              </ng-template>

            </ng-template>
            <li class="scroll-to-section" type="button" (click)="changeLang()">
              <div class="border-first-button">
                <a>{{"LANG" | translate}}</a>
              </div>
            </li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->